a {
    color: #5e3bdd;
}

footer {
    background-color: #211A1D;
    color: #CAD5CA;
    border-top: 3px solid #5e3bdd;
}

.bigbox{
    padding-top: 12%;
}

.btn {
    border: 2px solid #533BDD;
    background-color: #CAD5CA;
    color: #211A1D;
    font-weight: 500;
    width: 33%;
    height: 50px;
    border-radius: 15px;
    text-transform: capitalize;
    font-size: 20px;
}

.btn:hover {
    border: 2px solid #211A1D;
    background-color:#5e3bdd;
    color: #CAD5CA;
    font-weight: 600;
}

.letter-button {
    background-color: #5e3bdd;
    color: #CAD5CA;
    font-size: 25px;
    border: 1px solid #5e3b99;
}

.metrics{
    border-bottom: 3px solid #5e3bdd;
}

.jumbotron {
    opacity: .90;
    border-radius: 15px;
    padding: 20px;
    min-height: 262px;
}

#background {
    background-color: #211A1D;
    background-image: url("../images/circuit2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;  
    min-height: 100vh;
    margin-bottom:-33px; 
}

/* To remove the .9 default opacity in the BS Tooltip */
.tooltip{
    opacity: 1 !important;
}

/* Note: must add the "data-toggle-class" property in tag to select */
.tooltip > .tooltip-inner {
    background-color: #533BDD;
    color: #ffffff; 
    border: 1px solid #333333;
    text-align: center; 
    padding: 15px;
    font-size: 16px;
    max-width: 350px;
   
}

#maskedWord {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 10px;
}

#message {
    text-transform: uppercase;
    color: #5e3bdd;
}

#word {
    text-transform: capitalize;
    color: #211A1D;
}

#wrongLetters {
    font-size: 25px;
}


@media screen and (max-width: 900px) {

    .bigbox{
        padding-top: 25%;
        padding-bottom: 25%;
    }

    .btn {
        width: 90%;
    }

    .jumbotron {
        width: 94%;
        margin: 0 auto;
        padding-bottom: 20px;
        opacity: 1;
    }

    #background {       
        background-image: url("../images/circuit2.jpeg");
        background-repeat: repeat;
        min-height:80vh;
        margin-bottom:0px;
    }

    #buttons{
        display: flex;
    }

    #message, #word {
        font-size: 20px;
    }

    #maskedWord {
        font-size: 25px;
    }

    #wrongLetters {
        font-size: 18px;
    }

}