
footer {
    background-color: #333333;
    color: #ffffff;
    border-top: 3px solid #5e3bdd;
}

.btn {
    border: 2px solid lightgrey;
    background-color: #5e3bdd;
    color: #ffffff;
    font-weight: 500;
}

.btn:hover {
    border: 2px solid white;
    background-color: gold;
    color: black;
    font-weight: 600;
}

.bigbox{
    padding-top: 8%;
}

.metrics{
    border-bottom: 3px solid #5e3bdd;
}

#background {
    background-color: #222222;
    background-image: url("../images/bttf2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height:100vh;
    min-height:100vh;
}

#message, #word {
    text-transform: capitalize;
}

#maskedWord {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 10px;
}

.jumbotron {
    opacity: .7;
    border-radius: 15px;
}

@media screen and (max-width: 640px) {
   
    .bigbox{
        padding-top: 20%;
    }

    #background {       
        background-image: url("../images/deadpool-mobile.jpg");

    }

    #message, #word {
        font-size: 20px;
    }

    #maskedWord {
        font-size: 25px;
    }

    .jumbotron {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

}