
footer {
    background-color: #333333;
    color: #ffffff;
    border-top: 3px solid #5e3bdd;
}

.btn {
    border: 2px solid black;
    background-color: gold;
    color: black;
    font-weight: 500;
    width: 33%;
    height: 50px;
    border-radius: 15px;
    text-transform: capitalize;
    font-size: 20px;
}

.btn:hover {
    border: 2px solid #333333;
    background-color:#5e3bdd;
    color: white;
    font-weight: 600;
}

.bigbox{
    padding-top: 15%;
}

.metrics{
    border-bottom: 3px solid #5e3bdd;
}

.jumbotron {
    opacity: .7;
    border-radius: 15px;
    padding: 20px;
}

#background {
    background-color: #222222;
    background-image: url("../images/circuit2.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* height:100vh; */
    min-height:100vh;
}

#message {
    text-transform: uppercase;
    color: #5e3bdd;
}

#word {
    text-transform: capitalize;
    color: #333333;
}

#maskedWord {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 10px;
}



@media screen and (max-width: 900px) {
   
    .bigbox{
        padding-top: 20%;
    }

    #background {       
        background-image: url("#");

    }

    #message, #word {
        font-size: 20px;
    }

    #maskedWord {
        font-size: 25px;
    }

    .jumbotron {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

}